
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #ff5722;
    border-radius: 5px;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?restaurant,food') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: #e2185b9f;
    text-align: center;
    padding: 0 1rem;
}

.hero h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
}

.about, .menu {
    margin-bottom: 2rem;
    
}

.about h2, .menu h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.about p {
    text-align: center;
    line-height: 1.8;
}

.menu-items {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    height: 110px;
    width: 1;
}

.menu-item {
    border: 10px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(170, 31, 31, 0.1);
}

.menu-item img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    position: relative;
}

.menu-item h3 {
    position: relative;
    background-color: #ff5722;
    color: white;
    text-align: center;
    
}

.menu-item p {
    position: relative;
    padding: 1rem;
    text-align: center;
    margin-bottom: 80%;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}